extends layouts/layout

block content 
    if errmsg
        span=errmsg
    form(method="POST")
        input(name="title" placeholder="Title" type="text" requied value=`${movie.title}`)
        input(name="summary" placeholder="Summary" type="text" required value=`${movie.summary}`)
        input(name="year" placeholder="Year" type="number" required value=`${movie.year}`)
        input(name="rating" placeholder="Rating" type="number" required value=`${movie.rating}`)
        input(name="genres" placeholder="Genres (Please split them by comma)" type="text" required value=`${movie.genres}`)
        input(type="submit" value="Confirm")