extends layouts/layout

block content 
    div
        a(href=`${movie.id}/edit`) Edit
        br
        a(href=`${movie.id}/delete`) Delete
    div
        h4 Info
        span Year : #{movie.year}
        br
        span Rating : #{movie.rating}
        br
        h4 Genres
        ul 
            each genre in movie.genres 
                li=genre
        h4 Summary
        p=movie.summary

